<!DOCTYPE html>
<html lang="en" data-color-mode="auto" data-dark-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WebMail</title>
		<link rel="stylesheet" href="/public/css/primer.css">
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
    <body>
		<script src="/public/js/jquery.js"></script>
    </body>
</html>