<div class="full centered col">
    <h2 class="mb-6">Sign up to <%= name %></h2>
    <div class="Box">
        <div class="Box-header auth">
            <label for="username" class="input-name">Username</label>
            <div class="input-group mb-3">
                <input class="form-control" id="username" type="text">
                <span class="text">
					@<%= host %>
				</span>
            </div>
            <label for="password" class="input-name">Password</label>
            <input class="form-control input-block mb-2" id="password" type="password">
            <label for="password2" class="input-name">Repeat password</label>
            <input class="form-control input-block" id="password2" type="password">
            <button class="btn btn-primary btn-block mt-4" id="register-btn" disabled onclick="register()">Sign up</button>
            <span id="error" class="error"></span>
            <div style="width: 100%;" class="mt-3">
                <span class="text-small color-fg-muted mr-2">1 of 3</span>
                <span class="Progress d-inline-flex" style="width: 100%">
					<span class="Progress-item" style="width: 33%;background-color: var(--color-btn-primary-bg) !important;"></span>
                </span>
            </div>
        </div>
        <div class="Box-body">
            <button class="btn btn-block">
				<i class="fab fa-google mr-1"></i>
				<span>Sign up with Google</span>
			</button>
        </div>
    </div>
    <div class="Box auth mt-3">
        <div style="display: flex; flex-direction: row;">
            <span class="mr-1">Already have an account?</span>
            <a href="/login">Sign in</a>
        </div>
    </div>
</div>
:glb_data: